*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.template{
  display: none;
}

body{
  width: 100%;
  text-align: center;
}

main{
  width: 90%;
  margin: 40px auto;
  text-align: left;
}

.post__comments{
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid lightgrey;
  &__title{
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}
.comment{
    margin-bottom: 30px;
  &__name{
    font-weight: bold;
  }
}
